@charset "utf-8";
/* Cascading Style Sheets
	HTML 파일을 작성할 때 글자의 크기나 색깔, 여백 등의 각종 스타일을 지정 할 때 사용
 */
 
 /* -----메인 화면------*/
 
.header{
	background-color:#21499b; 
	position:relative; 
	width:1200px; 
	height: 140px;
	margin:0 auto;
}

.nav{
	background-color:white; 
	height:70px; 
	padding-top:10px;
	font-size:8px; 
	color:black; 
	font-weight:normal; 
	text-decoration:none; 
	font-family:dotum; 
}

.nav_a{
	font-size:10px; 
	color:black; 
	font-weight:normal; 
	text-decoration:none; 
	font-family:dotum; 
	margin-right:10px;
}

.nav a{
	font-size:12px; 
	color:black; 
	font-weight:bold; 
	text-decoration:none; 
	font-family:dotum; 
	margin-left:10px;
}

.content_div{
	position:relative; 
	width:1000px; 
	margin:0 auto;
}

.aside{
	background-color:#FCFAED; 
	position:absolute; 
	top:0; 
	right:0; 
	width:25%; 
	height:auto;
	padding-left:15px;
}

.footer_div{
	background-color: white; 
	position:relative; 
	width:1200px; 
	margin:0 auto;
	padding-top:10px;
	padding-left:5px;
}

.img{
	width:310px;
	height:310px;
	cursor: pointer;
}

/* ------로그인 화면------*/
/* 로그인 화면 전체 div 설정*/
.content_div_login{
	background-color: white;
	position: relative;
	width: 500px;
	height: 450px;
	margin: 5% auto;
	border:1px solid gray;
}

/* LOGIN 타이틀 검사 */
.main_title{
	color:gray;
	font-size: 50px;
	font-weight: bold;
	margin-top:30px;
	margin-bottom:30px;
}

/* 아이디 입력 텍스트 박스 테이블 설정 */
.id_table{
	height: 40px;
	width: 430px;
	border: solid 4px white;
	margin-top: 1%;
}

/* id, pw 입력 텍스트 박스 */
.id_pw_input{
	height: 40px;
	width: 410px;
	font-size: 15px;
}

/* 로그인 버튼 테이블 설정 */
.login_btn_table{
	height: 40px;
	width:430px;
	margin-top: 1%;
}

/* 로그인 버튼 설정 */
.login_btn{
	height: 50px;
	width:420px;
	background-color:black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: solid 1px black;
	cursor: pointer;
}

/* 로그인 하위 메뉴 경계선 설정 */
.menu_line{
	height: 0px;
	width: 430px;
	border: solid 1px white;
	margin-top: 2%;
}

/* 로그인 하위 메뉴 설정 */
.login_sub_menu{
	height: 50px;
	margin-top: 1%;
}

/* 로그인 하위 메뉴 글자 설정 */
.login_sub_menu a{
	text-decoration: none;
	color:gray;
}

/* ------ 회원가입 화면------*/
/* 회원가입 화면 전체 div 설정 */
.content_div_signUp{
	background-color: white;
	position: relative;
	width:500px;
	margin: 5% auto;
	border:1px solid gray;
}

/* 타이틀 테이블 설정 */
.signUp_table{
	background-color: white;
	color: gray;
	font-size: 15pt;
	font-weight: bold;
}

/* input 태그 전체 설정 */
.signUp_table input{
	width: 230px;
	height:20px;
}

/* div 태그 전체 설정 - 오혜진 추가*/
.signUp_table div{
	width: 230px;
	height:20px;
} 

/* 가입하기 버튼 테이블 설정 */
.signUp_btn_table{
	margin-top:1%;
}

/* 회원가입 페이지 버튼 설정 */
.signUpPage_btn{
	width: 238px;
	height:30px;
	background-color:black;
	color:white;
	font-size: 10pt;
	font-weight:normal;
	border: solid 1px gray;
	cursor: pointer;
}

/* 가입하기 버튼 설정 */
.signUp_btn{
	height:30px;
	width: 115px;
	background-color:black;
	color:white;
	font-size: 10pt;
	font-weight:bold;
	border: solid 1px black;
	cursor: pointer;
}

/* ------ 아이디, 비밀번호 찾기 ------*/
/* 전체 div 설정 */
.content_div_findInfo{
	background-color: white;
	position: relative;
	width: 400px;
	margin: 5% auto;
	border:1px solid gray;
}

/* 테이블 설정 */
.findInfo_table{
	background-color: white;
	color: gray;
	font-size:10pt;
	font-weight:bold;
}

/* 테이블 안에 input 설정 */
.findInfo_table input{
	width:200px;
	height:20px;
}

/* 버튼 table 설정 */
.findInfo_btn_table{
	margin-top:5%;
}

/* 인증번호 받기, 아이디 찾기 버튼 설정 */
.findInfo_btn{
	width: 206px;
	height: 25px;
	background-color: black;
	color: white;
	font-size: 10pt;
	font-weight:bold;
	border: solid 1px black;
	cursor: pointer;
}


/* 인덱스 화면*/
/* 인덱스 화면 테이블*/
.index_div{
	width: 1200px;
	position: relative;
	margin:10% auto;
}

/* 인덱스 화면 로고 이미지*/
.logo1_img{
	width:400px;
	cursor: pointer;
}

/* 검색바 */
.search_bar{
	width:600px;
	height:50px;
	position: relative;
	background-color: white;
	border:1px solid gray;
	font-size: 15pt;
	
}

/* 검색바 안에 input 설정 */
.search_bar input{
	width:600px;
	height:50px;
	font-size: 15pt;
}

/* 검색바 버튼 설정 */
.search_btn{
	width:60px;
	height:60px;
	border:0px;
	background-color:light-gray;
	cursor:pointer;
	position:relative;
}

.index_keyword a{
	weight:800px;
	height:60px;
	font-size:11pt; 
	color:#21499b; 
	font-weight:bold; 
	text-decoration:none; 
	font-family:dotum; 
	margin-left:10px;
}

/* 메뉴바 버튼 설정 */
.menu_btn{
	width:230px;
	height:50px;
	border:0px;
	background-color:#21499b;
	cursor:pointer;
	position:relative;
	color:white;
	font-size:12pt;
}

/* 기업 찾기 */
/* aside(좌측 사이드 바) */
.sidebar {
	width:100px;
	border:1px solid gray;
	background-color:white;
	position:relative;
	color:black;
	font-size:10pt;
	margin: 0 auto;
}

/* 기업찾기 컨텐트 div 설정 */
.content_div_findCorp{
	background-color: white;
	position: relative;
	width:900px;
	height:1000px;
	margin: 3% auto;
	border:1px solid gray;
}

/* 타이틀 테이블 설정 */
.signUp_table{
	background-color: white;
	color: gray;
	font-size: 15pt;
	font-weight: bold;
}